h1 {
  height: 250px;
  line-height: 250px;
  width: 100%;
  background: no-repeat url(./cv.jpg);
}

h2 {
  border: 1px solid #bbb;
  border-right: none;
  border-left: none;
  padding: 1em;
  margin: 1.5em 0;
  text-align: center;
}

ul {
  padding: 0 1em;
}

strong {
  font-weight: lighter;
  color: #000;
}

.mini {
  width: 30%;
}

img {
  border: #666 solid 1px;
}
