h1 span {   
    font-size: .6em;
    display: block;
    color: #555;
    font-weight: 100;
}

.faq {
    display: flex;
    flex-direction: column;
    padding: 0px;
    list-style-type: none;
}

dd {
    margin-left: 0;
}

dd ul,
dd p {
    margin-bottom: 0;
}

.question {
    width: 100%;
    font-size: 1.3em;
    font-weight: 600;
    color: #555;
    padding-top: 2em;
}

.reponse {
    width: 100%;
}

.reponse i {
    padding: .4em .4em;
}

.reponse p {
    font-size: 1em;
}
